:host {
  display: block;
}

ion-content {
  text-align: center;
}

.column-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.button-block {
  height: 150px;
  --border-radius: 15px;
  --padding-start: 15px;
  --padding-end: 15px;
  --font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-label {
  margin-top: 8px; /* Espace entre l'icône et le texte */
  font-size: 16px; /* Taille du texte sous l'icône */
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.button-container {
  position: relative;
}

.info-button {
  position: absolute;
  top: 4px;
  right: 4px;
  margin: 0;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  height: auto;
  z-index: 1;
}
