<ion-header mode="ios" collapse="fade">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="close()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="premium-info ion-text-center">
    @if (!tempGrids.length) {
    <!-- @if (!purchaseService.isPremiumUser$.value && !tempGrids.length) { -->
    <ion-icon name="star" color="warning" style="font-size: 24px"></ion-icon>
    <p>
      Ces fonctionnalités
      <!-- <strong>Premium</strong> -->
      vous permettent d'importer automatiquement plusieurs cartons à partir
      d'une <strong>photo</strong> ou d'un <strong>fichier</strong>. Gagnez du
      temps et assurez-vous d'une analyse rapide et précise. Fonctionne avec
      n'importe quel type de Loto.
    </p>
    } @else { @if (!tempGrids.length) {
    <p>
      Seuls les cartons bien détectés par l'IA sont visibles.
      <br />
      Veuillez bien vérifier les cartons avant de valider.
    </p>
    <p>
      Si des cartons sont mal détectés, vous pouvez toujours les ajouter ou
      modifier manuellement.
      <br />
    </p>
    } }
  </div>
  <ion-grid>
    <ion-row>
      <!-- Bloc pour Prendre une photo -->
      <ion-col class="column-info" size="6">
        <div class="button-container">
          <ion-button
            [disabled]="isImporting()"
            expand="block"
            size="large"
            color="primary"
            (click)="selectPhotoPremium()"
            class="button-block"
          >
            <div class="button-content">
              <ion-icon
                name="camera-outline"
                style="font-size: 48px"
              ></ion-icon>
              <span class="button-label">Prendre ou choisir une photo</span>
            </div>
          </ion-button>
          <ion-button
            class="info-button"
            fill="clear"
            size="small"
            color="light"
            (click)="presentPhotoInfo()"
          >
            <ion-icon
              name="information-circle-outline"
              style="font-size: 24px"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-col>

      <!-- Bloc pour Importer un fichier -->
      <ion-col class="column-info" size="6">
        <div class="button-container">
          <ion-button
            [disabled]="isImporting()"
            expand="block"
            size="large"
            color="secondary"
            (click)="onFileInputClick()"
            class="button-block"
          >
            <div class="button-content">
              <ion-icon
                name="document-attach-outline"
                style="font-size: 48px"
              ></ion-icon>
              <span class="button-label"
                >Importer un fichier (PDF, CSV, XLSX)</span
              >
            </div>
          </ion-button>
          <ion-button
            class="info-button"
            fill="clear"
            size="small"
            color="medium"
            (click)="presentFileInfo()"
          >
            <ion-icon
              name="information-circle-outline"
              style="font-size: 24px"
            ></ion-icon>
          </ion-button>
        </div>

        <!-- Input caché pour le fichier, déclenché par le bouton ci-dessus -->
        <input
          type="file"
          accept=".pdf, .csv, .xlsx, image/*"
          (change)="onFileSelected($event)"
          hidden
          #fileInput
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  @if (isImporting()) {
  <app-page-loader />
  <div class="ion-text-center">Analyse IA du fichier en cours</div>
  <div class="ion-text-center">Veuillez patienter...</div>
  <div class="ion-text-center">
    Ce processus peut prendre quelques secondes...
  </div>
  <app-page-loader />

  } @if (tempGrids.length && !isImporting()) {

  <div class="parent">
    <p>
      Voici les cartons qui seront importés lors de la validation. Vous pourrez
      toujours modifier leurs numéros et changer leur catégorie ultérieurement
      depuis votre liste de cartons.
    </p>
    <div class="flex align-center justify-center m-1">
      <ion-chip>
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>{{ tempGrids.length }} carton(s)</ion-label>
      </ion-chip>
    </div>
    <div class="flex w-100 align-center">
      <div class="flex align-center justify-center m-1 gap-2">
        @if (categoryId) {
        <app-category-color [categoryId]="categoryId"></app-category-color>
        }
        <ion-item>
          <ion-select
            mode="ios"
            placeholder="Catégorie"
            [(ngModel)]="categoryId"
            (ngModelChange)="update()"
            interface="popover"
            cancelText="Annuler"
          >
            <ion-select-option
              *ngFor="let category of categories$ | async"
              [value]="category.id"
            >
              {{ category.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="openSaveCategoryModal()" size="small" fill="clear">
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="validate()" size="small" color="success">
          Tout importer
        </ion-button>
      </div>
    </div>

    @for (grid of tempGrids; track $index) {
    <div class="grid-import">
      <app-grid-full
        [grid]="grid"
        [isSelectableForPlay]="false"
        [isSelectableForEdit]="false"
        [isEditable]="false"
        [displayBadges]="false"
        [isTemp]="false"
        [indexTemp]="$index"
        (deleteTempGrid)="deleteTempGrid($index)"
      />
      <ion-button (click)="deleteTempGrid($index)" size="small" fill="clear">
        <ion-icon name="trash" color="primary"></ion-icon>
      </ion-button>
    </div>
    }
  </div>
  }
</ion-content>
