@for (category of gridsByCategorie | keyvalue; track $index) {
<div class="category animate__animated animate__zoomIn animate__faster frame">
  <div class="title">
    <app-category-color [categoryId]="category.key" />
    <span class="name"
      >{{ getCategory(category.key)?.name | titlecase }} ({{
        gridsByCategorie[category.key].length
      }})</span
    >
    @if (isSelectableForPlay ||isSelectableForEdit) {
    <ion-checkbox
      class="checkbox"
      (ionChange)="selectAllCategoryChange($event.detail.checked, category.key)"
    />
    }
  </div>
  @if (!isLoading()) {
  <div class="parent">
    @for (grid of category.value; track $index) {
    <app-grid-full
      [grid]="grid"
      [tirageType]="tirageType"
      [isSelectableForPlay]="isSelectableForPlay"
      [isSelectableForEdit]="isSelectableForEdit"
      [isEditable]="isEditable"
      [displayBadges]="displayBadges"
      (editGridEvent)="editGridEvent.emit($event)"
      (deleteGridEvent)="deleteGridEvent.emit($event)"
    />
    }
  </div>
  } @else {
  <app-page-loader />
  }
</div>
}
