@for (category of gridsByCategorie | keyvalue; track $index) {
<div class="category-title">
  <h2 class="category">{{ getCategory(category.key)?.name | titlecase }}</h2>
  <app-category-color
    (click)="selectAllCategory(category.key)"
    [categoryId]="category.key"
  ></app-category-color>
</div>
<div class="parent">
  @for (grid of category.value; track $index) {
  <app-grid-full
    [grid]="grid"
    [isSelectable]="isSelectable"
    [isEditable]="isEditable"
    [displayBadges]="displayBadges"
  />
  }
</div>
}
