<ion-header mode="ios" collapse="fade">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button size="small" color="medium" (click)="close()" color="medium"
        >Annuler</ion-button
      >
    </ion-buttons>
    <ion-title class="ion-text-center">{{
      category ? "Modification catégorie" : "Nouvelle catégorie"
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        size="small"
        [disabled]="!categoryForm.valid"
        [strong]="true"
        (click)="validate()"
        >Valider</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="categoryForm">
    <ion-list>
      <ion-item>
        <ion-input
          formControlName="name"
          label="Catégorie"
          placeholder="Entrez le nom de la catégorie"
          [readonly]="category && category.isDeletable === false"
        >
          @if(category && category.isDeletable===false){
          <ion-icon slot="end" name="lock-closed"></ion-icon>
          }
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="color"
          label="Couleur"
          placeholder="Choisir la couleur"
          (click)="openColorPalette(categoryForm.get('color')?.value)"
        >
        </ion-input>
        <app-category-color
          (click)="openColorPalette(categoryForm.get('color')?.value)"
          [color]="categoryForm.get('color')?.value"
        />
      </ion-item>
    </ion-list>
  </form>
</ion-content>
