<ion-list>
  <ion-item>
    <ion-button (click)="createNewTirage()"> Nouveau tirage </ion-button>
  </ion-item>

  @if (selectionMode === SelectionMode.IN_PROGRESS) {
  <ion-list-header>
    <ion-label>Mes cartons Loto</ion-label>
  </ion-list-header>
  <ion-item>
    @for (grid of gridsLotos$ | async; track $index) {
    <app-grid-full [grid]="grid" />
    }
  </ion-item>
  <ion-list-header>
    <ion-label>Mes cartons Bingo</ion-label>
  </ion-list-header>
  <ion-item> </ion-item>
  }
</ion-list>
