:host {
  font-size: 0.6rem;
  font-weight: bold;
  width: auto;
  justify-content: center;
  padding: 0.5rem 0.2rem;

  &.small {
    zoom: 1;
  }
  &.medium {
    zoom: 1.2;
  }
  &.large {
    zoom: 1.4;
  }
  &.extraLarge {
    zoom: 1.6;
  }
}

.title {
  border: solid #25505f 1px;
  padding: 0 0.5rem;
  background: whitesmoke;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  ion-chip {
    font-size: 0.6rem;
  }
}
.checkbox {
  --size: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  .square {
    border: solid 1px var(--ion-color-medium);
    min-width: 1.2rem;
    height: 1.6rem;
    text-align: center;
    display: flex;
    .value {
      font-size: 0.9rem;
      font-weight: bold !important;
      margin: auto;
      &.empty {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
      }
      &.drawed {
        background: var(--ion-color-secondary-shade);
        // width: 1.2rem;
        // height: 1.2rem;
        border-radius: 5rem;
      }
    }
  }
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  ion-badge {
    font-size: 0.6rem;
    margin: 0 0.1rem;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
