<form [formGroup]="formGroup">
  <div class="title">
    @if (isSelectableForPlay || isSelectableForEdit) {
    <ion-checkbox
      labelPlacement="start"
      class="checkbox"
      formControlName="isSelected"
      >N° {{ grid.numero }}</ion-checkbox
    >
    }@else {
    <span>N° {{ grid.numero }}</span>
    <ion-badge
      *ngIf="gridFull?.nextWinningNumber"
      color="warning"
      class="blink"
    >
      {{ gridFull?.nextWinningNumber }}
    </ion-badge>
    @if (isEditable) {
    <ion-icon name="create" (click)="editGridEvent.emit(grid)" />
    <ion-icon name="trash" (click)="deleteGridEvent.emit(grid)" />
    } @if (isTemp) {
    <ion-icon name="trash" (click)="deleteTempGrid.emit(indexTemp)" />
    } }
  </div>
  @if (displayBadges) {
  <div class="badges">
    <ion-badge [color]="gridFull?.isQuine ? 'success' : 'danger'">
      1Q
    </ion-badge>
    <ion-badge [color]="gridFull?.isDoubleQuine ? 'success' : 'danger'">
      2Q
    </ion-badge>
    <ion-badge [color]="gridFull?.isCartonPlein ? 'success' : 'danger'">
      3Q
    </ion-badge>
    <ion-badge color="warning">
      {{ gridFull?.remainingNumbers }} restants
    </ion-badge>
  </div>
  } @for (row of [0, 1, 2]; track indexRow; let indexRow = $index) {
  <div class="row">
    <div
      *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8]; let indexCol = index"
      class="square"
    >
      <div
        class="value"
        [class.empty]="element(indexRow, indexCol)?.number === 0"
        [class.drawed]="element(indexRow, indexCol)?.isDrawed"
        [ngStyle]="
          element(indexRow, indexCol)?.number === 0
            ? { background: backgroundColor }
            : {}
        "
      >
        {{
          element(indexRow, indexCol)?.number === 0
            ? ""
            : element(indexRow, indexCol)?.number
        }}
      </div>
    </div>
  </div>
  }
</form>
