.row {
  justify-content: center;
}

.number {
  background: white;
  font-size: 1rem;
  height: 1.4rem;
  border: solid 1px gray;
  border-radius: 4rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.disabled {
    background: lightgreen;
  }

  &.last {
    background: lightcoral;
  }
}
