.keyboard-numbers {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  text-align: center;
}

.keyboard-header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.number {
  border-radius: 4rem;
  padding: 0.2rem;
  font-weight: bold;
  font-weight: bold;
  background: ghostwhite;
  color: darkslateblue;

  &.disabled {
    background: lightgreen;
  }

  &.last {
    background: lightcoral;
  }
}
