@if(hasHeader){
<div class="keyboard-header">
  @if ((tirageNumbers$|async)?.length) {
  <ion-button size="small" fill="outline" (click)="demarquer.emit()">
    Démarquer
  </ion-button>
  }
  <ion-button
    size="small"
    fill="outline"
    color="danger"
    (click)="endTirage.emit()"
  >
    Fin de partie <ion-icon name="hourglass"></ion-icon>
  </ion-button>
  <ion-button fill="outline" size="small" (click)="hideKeyboard.emit()">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>
</div>
}

<div class="keyboard-numbers">
  @for (n of numbers; track $index) {
  <div
    class="number"
    [class.disabled]="isDisabled(n + 1)"
    [class.last]="isLast(n + 1)"
    (click)="onClickNumber(n + 1)"
  >
    {{ n + 1 }}
  </div>
  }
</div>
