<div class="keyboard-header">
  <ion-button fill="outline" size="small" (click)="hideKeyboard.emit()">
    <ion-icon name="keypad"></ion-icon>
    <span> Cacher clavier </span>
  </ion-button>
  @if ((tirageNumbers$|async)?.length) {
  <ion-button size="small" fill="outline" (click)="demarquer.emit()">
    Démarquer
  </ion-button>
  }
  <ion-button size="small" color="danger" fill="outline" (click)="endTirage.emit()">
    <ion-icon name="hourglass"></ion-icon>
    Terminer la partie
  </ion-button>
</div>



<div class="keyboard-numbers">
  @for (n of numbers; track $index) {
  <div class="number" [class.disabled]="isInTirage(n + 1)" [class.last]="isLast(n + 1)" (click)="addTirage(n + 1)">
    {{ n + 1 }}
  </div>
  }
</div>