<ion-header mode="ios" collapse="fade">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-title class="ion-text-center">Tirage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding flex">
  @if (!(grids$ | async)?.length) {
  <div class="frame">
    <p>Vous n'avez pas de cartons pour lancer un tirage.</p>
    <p>
      Rendez vous dans l'onglet "Cartons" pour créer ou importer vos cartons.
    </p>
  </div>
  } @else { @if ((tirageMode$|async) === TirageMode.INITIAL) {
  <div class="frame animate__animated animate__zoomIn animate__faster">
    <p>Choisissiez vos cartons pour ce nouveau tirage</p>
    @if (!isDisplayGrids) {
    <ion-button size="small" (click)="isDisplayGrids=true">
      Choisir
    </ion-button>
    } @else {
    <ion-button
      size="small"
      (click)="startTirage()"
      [disabled]="!selectedGrids()?.length"
    >
      Commencer le tirage
    </ion-button>
    }
  </div>
  } @else if ((tirageMode$|async) === TirageMode.IN_PROGRESS) {

  <!-- Quine / double quine / carton plein -->

  <div>
    <ion-radio-group
      class="tirage-type-group animate__animated animate__zoomIn animate__faster"
      [formControl]="tirageTypeFormcontrol"
    >
      @for (type of (TirageType | keyvalue :originalOrder ) ; track $index) {
      <ion-radio class="tirage-type" mode="md" [value]="type.value"
        ><span [class.is-selected]="tirageTypeFormcontrol.value === type.value">
          {{ type.value }}
        </span>
      </ion-radio>
      }
    </ion-radio-group>
  </div>
  }

  <!-- GRIDS -->
  @if (isDisplayGrids) { @if ((tirageMode$|async) === TirageMode.INITIAL &&
  !isLoading) {
  <app-my-grids
    [isSelectableForPlay]="true"
    [isEditable]="false"
    [displayBadges]="false"
    [grids]="(grids$ | async)!"
  />
  } @if ((tirageMode$|async) === TirageMode.IN_PROGRESS) { @if
  ((tirageNumbers$|async)?.length) {
  <ion-item animated fadeIn infinite>
    <app-tirage-last-numbers class="animate__animated animate__fadeIn" />
  </ion-item>
  }
  <app-my-grids
    [isSelectableForPlay]="false"
    [isEditable]="false"
    [grids]="selectedGrids()!"
    [displayBadges]="true"
  ></app-my-grids>
  } } } @if(!showKeyboard){
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showKeyboard=true">
      <ion-icon name="keypad"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  }
</ion-content>

<!-- keyboard -->
@if ((tirageMode$|async) === TirageMode.IN_PROGRESS && showKeyboard ) {
<ion-footer class="keyboard-footer animate__animated animate__jackInTheBox">
  <app-ninety-keyboard
    (hideKeyboard)="showKeyboard=false"
    (demarquer)="demarquer()"
    (endTirage)="endTirage()"
  />
</ion-footer>
} @if (isLoading) {
<ion-content class="ion-padding">
  <app-page-loader />
</ion-content>
}
