<ion-header mode="ios" collapse="fade">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-title class="ion-text-center"
      >Mes {{segment==='carton' ? 'cartons':'catégories' }}
    </ion-title>
    @if (segment==='carton') { @if ((grids$|async)?.length &&
    (grids$|async)!.length>1) {
    <ion-buttons slot="end">
      <ion-button (click)="editMulitpleMode()">
        @if (isSelectableForEdit) { Annuler } @else {
        <ion-icon slot="icon-only" name="checkbox-outline" />
        }
      </ion-button>
    </ion-buttons>
    } }
  </ion-toolbar>
</ion-header>

<ion-segment
  [(ngModel)]="segment"
  class="segment"
  value="carton"
  mode="md"
  (ngModelChange)="segmentChange()"
>
  <ion-segment-button value="carton">
    <div>
      <ion-icon size="small" name="grid"></ion-icon>
    </div>
    <div>
      <ion-label>Cartons</ion-label>
    </div>
  </ion-segment-button>
  <ion-segment-button value="category">
    <ion-icon size="small" name="library"></ion-icon>
    <ion-label>Catégories</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content class="ion-padding">
  @if(segment==='carton'){ @if (isSelectableForEdit) {
  <ion-item>
    <ion-button
      (click)="editGrids('delete')"
      [disabled]="!selectedGrids()?.length"
    >
      <ion-icon slot="start" name="trash"></ion-icon>
      Supprimer
    </ion-button>
    <ion-button
      (click)="editGrids('move')"
      [disabled]="!selectedGrids()?.length"
    >
      <ion-icon slot="start" name="arrow-redo"></ion-icon>
      Déplacer
    </ion-button>
  </ion-item>
  } @if (grids$ |async; as grids) { @if (!isLoading) {

  <ion-button (click)="addGrid()" size="small">
    <ion-icon slot="start" name="add"></ion-icon>
    Ajouter un carton
  </ion-button>

  <app-my-grids
    [isEditable]="true"
    [isSelectableForPlay]="false"
    [isSelectableForEdit]="isSelectableForEdit"
    [grids]="grids"
    [displayBadges]="false"
    (editGridEvent)="editGrid($event)"
    (deleteGridEvent)="deleteGrid($event)"
  />
  } } } @if(segment==='category'){
  <ion-button (click)="openSaveCategoryModal()" size="small">
    <ion-icon slot="start" name="add"></ion-icon>
    Ajouter une catégorie
  </ion-button>
  <app-categories (openSaveCategoryEvent)="openSaveCategoryModal($event)" />
  }
</ion-content>
