<ion-header mode="ios" collapse="fade">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-title class="ion-text-center">Réglages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header mode="ios">Le Loto</ion-list-header>
    <ion-item [button]="true" (click)="openDicoLoto()">
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="book"
        slot="start"
      ></ion-icon>
      <ion-label>Règles et Guide du Loto</ion-label>
    </ion-item>

    <ion-list-header mode="ios">Données</ion-list-header>
    <ion-item>
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="refresh"
        slot="start"
      ></ion-icon>
      <ion-label>Données par défaut</ion-label>
      <ion-button (click)="resetAllDatas()">Reset</ion-button>
    </ion-item>
    <ion-list-header mode="ios">Profil</ion-list-header>
    <ion-item [button]="true" (click)="clickOnFormula()">
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="person"
        slot="start"
      ></ion-icon>
      <ion-label>Votre formule</ion-label>
      @if (isPremium | async) {
      <ion-button color="success">PREMIUM</ion-button>
      } @else {
      <ion-button color="secondary">BASIC</ion-button>
      }
    </ion-item>
    <ion-item [button]="true" (click)="openPreferences()">
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="cog-outline"
        slot="start"
      ></ion-icon>
      <ion-label>Vos préférences</ion-label>
    </ion-item>
    <ion-list-header mode="ios">A propos</ion-list-header>
    <ion-item [button]="true" (click)="openUpdate()">
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="star"
        slot="start"
      ></ion-icon>
      <ion-label>Evaluez-nous</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="cube"
        slot="start"
      ></ion-icon>
      <ion-label>Version</ion-label>
      <ion-note slot="end">[{{version}}]</ion-note>
    </ion-item>
    <ion-item [button]="true" (click)="openUpdate()" [button]="true">
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="refresh"
        slot="start"
      ></ion-icon>
      <ion-label>Mise à jour</ion-label>
    </ion-item>
    <ion-list-header mode="ios">Contact / Questions / Idées</ion-list-header>
    <ion-item [button]="true">
      <ion-icon
        color="primary"
        aria-hidden="true"
        name="help"
        slot="start"
      ></ion-icon>
      <ion-label>Nous contacter</ion-label>
      <ion-button fill="outline" (click)="openFacebookPage()">
        <ion-icon name="logo-facebook" />
      </ion-button>
      <ion-button
        href="mailto:{{contactEmail}}?subject=Support%20LotoFacile&body=Bonjour%2C%20j%27ai%20une%20question%20concernant%20votre%20application."
        fill="outline"
      >
        <ion-icon name="mail-outline" />
      </ion-button>
      <ion-button fill="outline" (click)="openWhatsapp()">
        <ion-icon name="logo-whatsapp" />
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
