/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "theme/variables.scss";
@import "../node_modules/animate.css/animate.min.css";

/* Appliquer Comic Neue à tout le texte */
*,
body,
ion-app,
ion-button {
  font-family: "Comic Neue", sans-serif !important;
}

/* Styles supplémentaires pour certains composants */
ion-title {
  font-family: "Comic Neue", sans-serif !important;
  font-weight: 700; /* Gras pour les titres */
}

ion-button,
ion-label,
p {
  font-family: "Comic Neue", sans-serif !important;
  font-weight: bold !important; /* Normal pour les boutons et paragraphes */
}

ion-button {
  letter-spacing: 0.1rem !important;
  text-transform: uppercase !important;
}

ion-title {
  font-size: 1.6rem !important;
  text-transform: uppercase;
}

ion-list-header {
  font-size: 1.4rem !important;
}

ion-item {
  font-size: 1.2rem !important;
}

ion-modal.autoheight {
  --height: auto;
}

ion-fab-button {
  --border-radius: 15px;
}

ion-segment {
  margin: auto;
  width: 75%;
  ion-segment-button {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}

ion-radio.tirage-type {
  background: lavender;
  color: darkslateblue;
  font-weight: bold;
}

ion-tab-bar {
  border: solid 0.1rem lightgray;
  margin: 1rem 3rem;
  border-radius: 4rem;
  ion-icon {
    font-size: 1.5rem;
  }
}

.text-small {
  font-size: 1rem;
}

.text-normal {
  font-size: 1.2rem;
}

.text-big {
  font-size: 1.4rem;
}

.text-extra-big {
  font-size: 1.6rem;
}

.frame {
  border: solid #25505f medium;
  color: #25505f;
  background: whitesmoke;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.block {
  display: block;
}

.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1.5rem;
}
.gap-4 {
  gap: 2rem;
}

.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.custom-alert {
  .alert-message {
    white-space: pre-line !important;
  }
}

.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}
.m-4 {
  margin: 2rem;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.p-4 {
  padding: 2rem;
}
