:host {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin: 1rem 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-x: hidden;
  scrollbar-width: none;

  .tirage-number {
    font-weight: bold;
    margin: 0.5rem;
    font-size: 1.4rem;
    border-radius: 4rem;
    padding: 0.5rem;
    text-align: center;
    color: lavender;
    background: darkslateblue;
    &:last-child {
      background: lavender;
      color: red;
    }
  }
}
